<strong> Problem 1 </strong> Design a binary calculator.  By this I mean, write a function which takes in two integers which can only be $0$ or $1$.  Add them according to the following rules

$$
1 + 1 = 0, ~ 1 + 0 = 1, ~ 0 + 1 = 1, ~ 0 + 0 = 0
$$

Note, to do this, you will need to make use of the Python logical commands 'and' and 'or'.  Fill in the following code skeleton, and run the four necessary test cases to check that your function works correctly.

In [2]:
def bin_add(x,y):
    if (x==0 and y==0) or (x==1 and y==1):
        return 0
    elif (x==0 and y==1) or (x==1 and y==0):
        return 1

In [3]:
print bin_add(0,0)

0

In [4]:
print bin_add(1,1)

0

In [5]:
print bin_add(1,0)

1

In [6]:
print bin_add(0,1)

1

<strong> Problem 2 </strong>:[10 pts]  From Wikipedia, we learn that 

''Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.''

Given a year, write a function which determines how many days there are in February.  Fill in the following code skeleton below.  Produce several test cases which prove you have done this correctly.  Explain your reasoning.

In [7]:
# note, input 'year' is an integer
def leap_year(year):
    if year%4 == 0:
        if year%100 != 0 or year%400 == 0:
            return 29
        else:
            return 28
    else:
        return 28

*Answer to Problem 2*

Thankfully, Wikipedia gave us all the test cases we need.  First, let's check a year which is not divisible by 4.

In [8]:
print leap_year(1963)

28

Okay, great, that worked.  Now let's check a year that should be divisble by 4, but doesn't fall on a century line.

In [9]:
print leap_year(1964)

29

Great, now let's check a trickier case like $1700$.

In [10]:
print leap_year(1700)

28

And now, just to make sure, we check $1600$

In [12]:
print leap_year(1600)

29

<strong> Problem 3 </strong>:[10 pts] Now write a function which determines, given the day, month, and year, what day of the given year it is.  For example, February 7th, 2012, is the 38th day of the year.  But March 1st, 2012, is the 61st day of the year while March 1st, 2011 is the 60th day of that year.  

Note, you will want to write two functions, with one calling the other.  Modify the function from <strong>Problem 2</strong> and then write another function which calls that one.  Fill in the code skeleton below.  Afterwards, provide test cases and reasoning which explains why your method is correct.

*Answer to Problem 3*

In [22]:
# helper function for dealing with all this leap year madness
def leap_count(day,nly_months,year):
    if year%4 == 0:
        if year%100 != 0 or year%400 == 0:
            return day + nly_months + 29
        else:
            return day + nly_months + 28
    else:
        return day + nly_months + 28

In [23]:
def date_conv(month,day,year):
    if month<3:
        if month==1:
            return day
        elif month==2:
            return day+31
    else:
        if month==3:
            nly_days = 31
        elif month==4:
            nly_days = 2*31
        elif month==5:
            nly_days = 30 + 2*31
        elif month==6:
            nly_day = 30 + 3*31
        elif month==7:
            nly_days = 2*30 + 3*31
        elif month==8:
            nly_days = 2*30 + 4*31
        elif month==9:
            nly_days = 2*30 + 5*31
        elif month==10:
            nly_days = 3*30 + 5*31    
        elif month==11:
            nly_days = 3*30 + 6*31
        else:
            nly_days = 4*30 + 6*31 
        return leap_count(day,nly_days,year)

<strong> Problem 4 </strong>:[10 pts] Now write a function which takes in two dates and returns the number of days between them.  Use the functions you developed above to help.  Start with the following code skeleton, and use the conventions for date formats explained therein.

*Answer to Problem 4*

In [24]:
# note, input 'year' is an integer
def leap_test(year):
    if year%4 == 0:
        if year%100 != 0 or year%400 == 0:
            return True
        else:
            return False
    else:
        return False

In [25]:
# Format for dates should be strings of the form mo/day/year = ##/##/####, So January 22, 1958 should be input as ''01/22/1958''.  
def date_dif(date1,date2):
    month1 = int(date1[0:2])
    day1 = int(date1[3:5])
    year1 = int(date1[6:10])
    
    month2 = int(date2[0:2])
    day2 = int(date2[3:5])
    year2 = int(date2[6:10])
    
    # First find the current total day within the given year 
    
    tot_day1 = date_conv(month1,day1,year1)
    tot_day2 = date_conv(month2,day2,year2)
    
    # Figure out which is the later year and thus later date.  If year's are equal, then return difference of days. 
    
    if(year1==year2):
        
        return abs(tot_day1-tot_day2)
    
    else:
        
        # Since years are not equal, figure out which one corresponds to the later date so as to make life easier.
        
        if(year1>year2):
            lyear,eyear = year1,year2
            lday,eday = tot_day1,tot_day2
        else:
            lyear,eyear = year2,year1
            lday,eday = tot_day2,tot_day1
        
        # Now figure out the number of years in between.
            
        ybet = lyear-eyear-1
        cnt = 1
        dbty = 0
        
        while cnt<=ybet:
            if leap_test(lyear+cnt):  # For those years in between, determine which are leap years and which are not.  
                dbty += 366
            else:
                dbty += 365
            cnt+=1
        
        if leap_test(eyear): # If earlier year is a leap year, then take that into account. 
            return 366 - eday + lday + dbty
        else:
            return 365 - eday + lday + dbty

First, let's make sure what we would expect to happen actually happens.  So, let's try two non-leap years exactly a year apart.

In [26]:
date_dif("01/22/1901","01/22/1902")

365

Yup, that works.  Now, let's cross a leap year.

In [27]:
date_dif("01/22/1904","01/22/1905")

366

But what if we measure later in the year

In [28]:
date_dif("11/22/1904","11/22/1905")

365

And that is correct.  Now, let's make sure a century works the way we think it should.

In [29]:
date_dif("01/22/1900","01/22/1901")

365

In [31]:
date_dif("01/22/1600","01/22/1601")

366

And that about settles the matter.

<strong> Problem 5 </strong>: Problem 4 from Chapter 12 of the book.  3pts for each part.  Make a function for each and provide a test case.  I'll do the first one to get you started.

*Answer to Problem 5*: Okay, admittedly, there really isn't a lot to say about this, so we'll keep it brief for once.

In [32]:
# Problem 4a from Chapter 12

def sum_4a(n):
    count = 1
    tot = 0
    while(count<=n):
        tot += count
        count += 1                
    return tot

In [33]:
print sum_4a(5)

15

In [34]:
# Problem 4b from Chapter 12

def sum_4b(n):
    count = 1
    tot = 0
    while(count<=n):
        tot += count**2
        count += 1                
    return tot

In [35]:
print sum_4b(5)

55

In [36]:
# Problem 4c from Chapter 12

def sum_4c(n):
    count = 1
    tot = 0
    while(count<=n):
        tot += count**3
        count += 1                
    return tot

In [37]:
print sum_4c(5)

225

In [38]:
# Problem 4d from Chapter 12

def sum_4d(n):
    count = 1
    tot = 0
    while(count<=n):
        tot += count*(count-1)
        count += 1                
    return tot

In [39]:
print sum_4d(5)

40

In [40]:
# Problem 4e from Chapter 12

def sum_4e(n):
    count = 1
    tot = 0
    while(count<=n):
        tot += (count-1)/2
        count += 1                
    return tot

In [41]:
print sum_4e(5)

4

In [47]:
# Problem 4f from Chapter 12
from numpy import pi as Pi
def sum_4f(n):
    oovpi = Pi**(-1)
    count = 1
    term = 1
    tot = 0
    while(count<=n):
        term *= oovpi/count
        tot += term        
        count += 1                   
    return tot

In [48]:
print sum_4f(5)

0.374800714368